    .image-gallery {
        overflow: auto;
        margin-left: -1%!important;
    }
    .image-gallery li {
        float: left;
        display: block;
        margin: 0 0 1% 1%;
        width: 19%;
    }
    .image-gallery li a {
        text-align: center;
        text-decoration: none!important;
        color: #777;
        transition: box-shadow 0.3s ease-in-out; /* Smooth transition for box-shadow */
    }
    .image-gallery li a span {
        display: block;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
        padding: 3px 0;
    }
    .image-gallery li a img {
        width: 100%;
        display: block;
        border-radius: 5px; /* Rounded corners */
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Light shadow */
    }
    .image-gallery li a:hover {
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5); /* Deeper shadow on hover */
    }
