<style>
    .image-gallery {overflow: auto; margin-left: -1%!important;}
    .image-gallery li {float: left; display: block; margin: 0 0 1% 1%; width: 19%;}
    .image-gallery li a {text-align: center; text-decoration: none!important; color: #777;}
    .image-gallery li a span {display: block; text-overflow: ellipsis; overflow: hidden; white-space: nowrap; padding: 3px 0;}
    .image-gallery li a img {width: 100%; display: block;}
</style>

<ul id="external-image-gallery" class="image-gallery"></ul>

<script defer>
$(document).ready(function() {
    // 获取当前页面的 URL
    const currentPageUrl = window.location.href;

    // 从 URL 中提取年份和月份
    const yearMonthRegex = /\/(\d{4})\/(\d{1,2})\//;
    const match = yearMonthRegex.exec(currentPageUrl);

    if (match && match.length >= 3) {
        const year = match[1];
        const month = match[2].padStart(2, '0'); // 确保月份是两位数

        // 构建 JSON 文件的 URL
        const jsonUrl = `https://raw.githubusercontent.com/modem-56k/img/main/${year}/${month}/list.json`;

        // Fetch the list of image file names from the JSON file
        fetch(jsonUrl)
            .then(response => response.json())
            .then(files => {
                files.forEach(file => {
                    // 构建图片的完整 URL
                    const imageUrl = `https://raw.githubusercontent.com/modem-56k/img/main/${year}/${month}/${file}`;
                    const filename = file.split("/").pop().split(".")[0];

                    const imageElement = `
                        <li>
                            <a href="${imageUrl}" title="${filename}" target="_blank">
                                <img src="//images.weserv.nl/?url=${encodeURIComponent(imageUrl)}&w=300&h=300&output=jpg&q=50&t=square" alt="${filename}" title="${filename}" />
                                <span>${filename}</span>
                            </a>
                        </li>
                    `;

                    // 将图片元素添加到画廊中
                    $("#external-image-gallery").append(imageElement);
                });
            });
    }
});
</script>