---
layout: default
---

{% include base_path %}

{% if page.image %}
  <meta itemprop='og:image' content='{{ base_path }}{{ page.image }}'>
{% endif %}

<div class='o-wrapper'>
  <div class='o-grid'>
    <div class='o-grid__col'>
      <article class='c-post' itemscope itemtype='http://schema.org/BlogPosting'>

        <h1 class='c-post__title u-text-center'>{{ page.title }}</h1>

        <time class='c-post__date' datetime='{{ page.date | date_to_xmlschema }}' itemprop='datePublished'>{{ page.date | date: '%d %b %Y' }}</time>

        <div class='c-content' itemprop='articleBody'>
          {% include page-image.html %}

          {{ content }}
        </div>

        <div class='c-tags'>
          {% for tag in page.tags %}
            <a href='{{ site.baseurl }}/tag/{{ tag }}'>{{ tag }}</a>
          {% endfor %}
        </div>

        <hr>


<style>
h3 {
    cursor: pointer;
}
h3:before {
    content: "▸ ";
    transition: transform 0.3s ease-in-out;
}
h3.active:before {
    content: "▾ ";
}
</style>
<script src="/js/jquery-3.7.1.min.js"> </script>
<script>
$(document).ready(function() {
    // 折叠所有的内容区域
    $('h3 + *').hide();
    // 展开第一个内容区域
    $('h3:first + *').show();
    $('h3:first').addClass('active');

    // 设置点击事件
    $('h3').click(function() {
        // 如果点击的标题下的内容已展开，则折叠它
        if ($(this).next().is(':visible')) {
            $(this).next().slideUp();
            $(this).removeClass('active');
        } else {
            // 否则，折叠所有内容，然后展开点击的标题下的内容
            $('h3 + *').slideUp();
            $('h3').removeClass('active');
            $(this).next().slideDown();
            $(this).addClass('active');
        }
        // 将页面滚动到被点击的标题
        this.scrollIntoView({behavior: 'smooth', block: 'start'});
    });
});
</script>

<script src="https://beaudar.lipk.org/client.js"
        repo="modem-56k/modem-56k.github.io"
        branch="main"
        issue-term="pathname"
        label="comment"
        theme="preferred-color-scheme"
        crossorigin="anonymous"
        async>
</script>

      </article>
    </div>
  </div>
</div>